.aboutUS-main {
    display: flex;
    flex-direction: column;
    height: 517px;
    width: 780px;
    border:1px solid;
    border-color:#eff7f5;
    border-radius:7px;
}

.img {
    display: flex;
    justify-content: start;

    > div {
        width: 226px;
        height: 170px;
        margin: 14px 14px 19px 13px;

        &:first-child {
            background: url(../assets/self.png) no-repeat center;
        }

        &:not(:first-child) {
            background: url(../assets/doggy.png) no-repeat center;
        }
    }
}

.self {

    > div {
        margin-left: 13px;
    }

    > div:first-child {
        font-size: 24px;
        font-weight: 700;
    }

    > div:not(:first-child) {
        padding-top: 14px;
        font-size: 14px;
        color: #000;
        opacity:60%;
    }
}