.discount-body {
    display: flex;
    align-items: center;
    width: 100%;
    /* 确保左侧背景图有高度 */
    height: 400px;
}

.discount-body > .discount-body-img {
    flex-basis: 70%;
    background: url('../assets/swiper-01.webp');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.discount-body > .discount-details {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    /* 继承父元素高度 */
    height: inherit;
    padding: 24px;
    background: #23252B;
    transition: all ease-in-out .3s;
}

/* .discount-body > .discount-body-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.discount-details > img,
.discount-details > li {
    background: #23252B;
    transition: all ease-in-out .3s;
}

.discount-body:hover > .discount-details,
.discount-body:hover .discount-details > img,
.discount-body:hover .discount-details > li  {
    background-color: #313339;
    transform: translateY(-10px);
}