/* 商品导航区 */
.main {
    margin-top: 10px;
}

/* 商品导航区下 左侧列表区和右侧热卖区样式 */
.main > div {
    /* font-style font-weight font-size font-family */
    /* font:none var(--main-font-weight) var(--main-font-size) 'Microsoft YaHei', Microsoft YaHei; */
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);

    &:last-child {
        /* flex: 2; */
        width: 787px;
    }
}

/* 二级列表 商品列表 .list */
.main > div.list {
    /* 距离右侧的margin值 */
    margin-right: 16px;
    /* flex: 1; */
    width: 257px;
    background-color: rgba(239, 247, 245, 1);
    border-radius: 7px;

    /* 小列表之间的样式 */
    > div {
        padding-bottom: 16px;

        &:first-child {
            padding-top: 36px;
        }

        &:last-child {
            padding-bottom: 39px;
        }
    }
}

/* 二级列表 商品热卖区 .hotSale */
.main > div.hotSale {
    display: flex;
    /* 更改主轴方向，列 */
    flex-direction: column;
}

/* 导航区 */
.main > div.hotSale > .tabbar {
    background:#f5efee;
    display: flex;
    justify-content: space-around;
    border-radius: 7px;

    > div {
        padding: 11px 0;
    }
}

/* 图片区 */
.main > .hotSale > div.banner {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;

    /* 补贴及秒杀区 */
    div.doubleImg {
        display: flex;
        flex-direction: column;
        margin-left: 13px;

        /* 第一个li下面的兄弟元素 => 第二个li的margin值 */
        > li + li {
            margin-top: 17px;
        }
    }
}
/* 补贴及秒杀区 */
.main > .hotSale > div.banner > div.doubleImg > li {
    display: flex;
    justify-content: baseline;
    align-items: center;
    background: linear-gradient(180deg, #fff4ef 0%, #ffffff 100%);
    border: 1px solid;
    border-color: #ecebeb;
    border-radius: 7px;
    font-weight: 700;

    .row-flex {
        > span:first-child {
            padding: 10px 12px 14px 11px;
        }
    
        > span:nth-child(2) {
            margin: 10px 106px 14px 0;
            background:#fd383f;
            border-radius:10px;
    
            
            &::after {
                padding: 0 8px;
                content: "大牌限时补贴";
                color:#ffffff;
                font-size:10px;
            }
        }
    }

    .img > img {
        padding: 0 14px;
    }

    .price > div {
        padding: 6px 51px 12px 14px;
        color: red;
    }
}
/* coin 子父给一个固定高度 子元素总高度相加小于父元素高度，使用flex做均匀分布，不使用padding值 */
.coin {
    display: flex;
    justify-content: space-around;
    width: 229px;
    margin-left: 13px;
    border:1px solid;
    border-color:#eff7f5;
    border-radius:7px;
    flex-wrap: wrap;

    img {
        display: block;
    }
    .fir-col {
        padding-top: 22px;
        justify-content: space-evenly;
        /* 浏览器默认最小字体12px 这里使用calc做处理 */
        font-size: calc(20.5px / 2);

        /* 兄弟元素选择器，向下选择一层 这里选中第二三个span元素 */
        > span + span {
            padding-left: 12px;
        }
    }

    .end-col {
        padding-bottom: 24px;
    }

    .fir-col,
    .end-col {
        span {
            text-align: center;
        }
    }
}