.select {
    margin-top: 25px;

    /* 下一层div做点操作 */
    > div {
        display: flex;
        border-right: 1px solid #eff7f5;
    }

    /* 选择子集div下的兄弟元素 选中除了第一个div其他的div，并给padding-left */
    > div + div {
        padding-left: 27px;
    }

    /* 右侧文字 */
    .items {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        > div {
            padding-left: 10px;
            padding-right: 54px;

            /* 加粗文字显示效果 */
            &:first-child {
                font-size: 16px;
                font-weight: 700;
            }

            /* 副标题文字 */
            &:last-child {
                font-size: 12px;
            }
        }
    }
    
    /* 右侧文字效果 */
    .icon {
        color: red;
    }
}

